[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
urllib3 = "*"
astroid = "==2.2.5"
certifi = "==2019.3.9"
chardet = "==3.0.4"
colorama = "==0.4.1"
defusedxml = "==0.5.0"
idna = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
oauthlib = "*"
psycopg2 = "*"
pyjwt = "*"
pylint = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
typed-ast = "*"
wrapt = "*"
django-braces = "*"
django-oauth-toolkit = "*"
django-rest-framework-social-oauth2 = "*"

[requires]
python_version = "3.6"
