html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, white, lightgrey, lightblue);
  overflow-x: scroll;
  white-space: nowrap

}


.whiteCard {
  background-image: linear-gradient(to right, white, white), radial-gradient(circle at top left, grey, dodgerblue);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 90%;
  height: 10rem;
  margin-bottom: 100%, 2cm;
  word-wrap: normal;
  white-space: normal;
  border: double 2px transparent;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  position: relative; 
  left : 50%;
  transform: translateX(-50%);
  padding: 0;

}

.addCard {
  position: absolute;
  margin-top: 20%;
  left: 15%;
  width: 85%;
  height: 100%;



}

.addButton {
  border: thin 1px transparent;
  border-image: linear-gradient(to right, red, orange);
  border-image-slice: 1;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  width: 70%;
  height: 30%;
  padding: 0;
  background: -webkit-linear-gradient(top left, red, orange);
  -webkit-background-clip: text, content-box;
	-webkit-text-fill-color: transparent;
}

.addTopic {
  margin-top: 10vh;
  width: 15rem;
  height: 80vh;
  overflow-y: auto;
  display: inline-block;

}

.addCardTitle {
  border: none;
  margin-left: 5%;
  width: 65%;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  color: dodgerblue;
}

.addCardTitle::placeholder {
  font-weight: normal;
  font-size: 14px;
  color: black;

}


.topic {
  margin-top: 10vh;
  margin-left: 1vw;
  width: 15rem;
  height: auto;
  max-height: 87vh;
  overflow-y: scroll;
  vertical-align: top;
  display: inline-block;
  background-image: linear-gradient(to right, white, white), radial-gradient(circle at top left,lightblue, grey);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border:groove 2px transparent;
  border-top-right-radius: 5vh;
  border-bottom-left-radius: 5vh;
  border-top-left-radius: 5vh;
  border-bottom-right-radius: 5vh;

} 

.topic::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

.nameplate {
  height: auto;
  position: relative;
  word-wrap: normal;
  white-space: normal;
  overflow: hidden;

}

.topicAddCard {
  font-size:2vh;
  margin-left: 6vw;
  color: grey;


}

.topicAddCard:hover {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.nameplate p {
  color: dodgerblue;
  font-size: 3vh;
  font-weight: bold;
  margin-left: 1vw;
}

.addCardModal {
  background-color: white;
  height: 80vh;
  width: 50vw;
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  z-index: 1;
  border-style: groove;
  border-color: grey;
  border-width: 5px;

}

.addCardModalTitle {
  width: 100%;
  height: 15%;
  margin-top: 3%;
  border: none;
  font-size: 4vh;

}

.addCardModalTitle::placeholder {
  color: black;
  font: italic bold 4vh Georgia, serif;
}
.addCardModalDescription {
  width: 100%;
  height: 15%;
  margin-top: 3%;
  border: none;
  font-style: italic;
  font-size: 2vh;


}

.addCardModalDescription::placeholder {
  color: black;
  font: italic bold 4vh Georgia, serif;
}

.addCardModalSelectPrompt {
  float: left;
  animation: addCardModalSelectPromptFadeIn ease 3s;
}

@keyframes addCardModalSelectPromptFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.addCardModalOptions {
  float: left;
  margin-top : 1%;
  margin-left: 1%;
}
@keyframes addCardModalOptionsDropDown {
  0% {
    opacity: 0;
    transform: translateY(-100)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.addCardModalOptionsOpen {
  animation: addCardModalOptionsDropDown ease 2s;
}



.addCardModalInstructions {
  position: absolute;
  z-index: 5000; 
  /* put at a high number so it will always be on top.  */
  background-color: lightblue;
  font-size: 13px;
}

.addCardModalTimedClicked {
  background-color: black;
}

.addCardModalRecurringClicked {
  background-color: black;

}

.addCardModalButtons {
  position:absolute;
  right: 0%;
  bottom: 0%; 
}

.recurringCalendar {
  margin-top: 8%;
  display: grid;
  grid-template-columns: repeat(7, 14%);
  width: 95%;
  height: 8%;
  grid-template-areas: 'Sunday Monday Tuesday Wednesday Thursday Friday Saturday';
  font-size: 1vw;
  grid-column-start: auto;

}

.recurringCalendar > .recurringCalenderDay {
  border:groove 2px dodgerblue;
  margin: 1%;
  text-align: center;

}

.editPanelModal {
  background-color: white;
  height: 80vh;
  width: 50vw;
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  z-index: 1;
  border-style: groove;
  border-color: grey;
  border-width: 5px;

}


.loginPage {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  background: white;
  text-align: center
}

.loginPage p {
  margin-top: 20%;
  font-size: 3vh;

}

.dailyCalendarModal {
  background-color: white;
  height: 80vh;
  width: 50vw;
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  z-index: 2;
  border-style: groove;
  border-color: grey;
  border-width: 5px;
}

.monthlyCalendar {
  margin-top: 8%;
  display: grid;
  grid-template-columns: repeat(7, 14%);
  grid-template-rows: repeate(5, 10);
  width: 95%;
  height: 8%;
  font-size: 1vw;
  grid-column-start: auto;

}
.monthlyCalendar > .monthlyCalenderDay {
  border:groove 2px dodgerblue;
  margin: 1%;
  text-align: center;

}

.monthlyCalendar > .monthlyCalenderPast {
  border:groove 2px dodgerblue;
  background: grey;
  margin: 1%;
  text-align: center;

}

.arrowLeft {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrowRight {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.card {
  background-image: linear-gradient(to right, white, white), radial-gradient(circle at top left, grey, dodgerblue);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 90%;
  height: 10rem;
  margin-bottom: 1vh;
  word-wrap: normal;
  white-space: normal;
  border: double 2px transparent;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  position: relative; 
  left : 50%;
  transform: translateX(-50%);
  padding: 0;

}

.cardTitle {
  margin-top: 0;
  border: none;
  text-align: center;
  width: 65%;
  outline: none;
  font-weight: bold;
  font-size: 25px;
  color: dodgerblue;
}

.cardEdit {
  font-size: 28px;
  text-align: right;
  margin-left: 75%;
  display: inline-block;
}

.cardEdit:hover {
  text-decoration: underline;
  color: black;
  font-weight: bold;  
}